.container {
  border-radius: 5px;
  position: relative;
  height: fit-content;
  top: 100px;
}
.fixedContainer {
  position: fixed;
  right: 3%;
}
input{
  height: 30px;
  width: 250px;
}
label{
  font-size: small;
}