.logoContainer {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.movienotepad {
  background-color: #1a2a38;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100vw;
  height: 60px;
}
