.container {
  background-image: url('../../../../PageBg/bgseats.jpg');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
.contentContainer{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  margin-top: 100px;
}
.box{
  display: flex;
  flex-flow: column wrap;
  background: rgba(26, 42, 56, 0.65);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
.theButtons{
  display: flex;
  justify-content: space-between;
}
.boxDetails{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
/* .content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.button {
  position: relative;
  background-color: #7e97b4;
  padding: 5px;
  margin: 10px;
}
.box {
  position: relative;
  right: -100px;
}
.boxDetails {
  display: flex;
  flex-flow: column wrap;
  background: rgba(26, 42, 56, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(26, 42, 56, 0.4);
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}
a {
  align-self: flex-end;
}
h3 {
  margin: 10px;
}
.theButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
}
.adminButtons {
  display: flex;
} */
