.container {
  background-image: url('../../../../PageBg/bgseats.jpg');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}
.contentContainer{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  margin-top: 100px;
}
.box{
  display: flex;
  flex-flow: column wrap;
  background: rgba(26, 42, 56, 0.65);
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
.theButtons{
  display: flex;
  justify-content: space-between;
}
.boxDetails{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.addWL {
  display: flex;
  align-items: center;
  padding: 5px 8px;
}
a {
  align-self: flex-end;
}
h3 {
  margin: 10px;
}
.theButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete {
  display: flex;
  align-items: center;
  padding: 2px 5px;
}
