.container{
  background-image: url('../../../PageBg/bgseats.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100vw;
}

.back{
  background-color:#7e97b4 ;
  position: fixed;
  top: 100px;
  left: 150px;
  width: fit-content;
}
.subContainer{ 
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}
.boxCard{
  display: flex;
  flex-flow: column ;
  align-items: center;
  position: relative;
  top: 70px;
  width: 60%;
}
.textWL{
  padding: 10px;
  border-radius: 10px;
}
.card{
  align-self: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
