.background{
  background-image: url('../PageBg/bgseats.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin-top: 100px;
  }
.subContainer{
  background: rgba(26, 42, 56, 0.5);
  color: white;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(26, 42, 56, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100vw;
  gap: 25px;
  padding: 40px 0;
  font-weight: 800;
}
.subContainer form{
  display: flex;
  flex-flow: column wrap;
}
.subContainer span{
  display: flex;
  align-items: center;
}
.submit{
  width: fit-content;
  align-self: flex-end;
}
.note{
  position: relative;
  width: fit-content;
  color: white;
  background-color: rgb(26, 42, 56);
  padding: 35px 20px;
  font-size: small;
  border-radius: 10px;
  margin-top: 10px;
}
.note p{
  margin-bottom: 5px;
}
.note li{
  color: aqua;
  margin-bottom: 5px;
}
.note span{
  color: aqua;
}
.invalidInput{
  align-self: center;
  color: red;
}
@media screen and (min-width: 350px){
  .subContainer{
    max-width: 350px;
    border-radius: 10px;
  }
}