.container {
  background-image: url('../../../../PageBg/bgseats.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  position: relative;
  color: white;
  background-color: #7e97b4;
  padding: 5px;
  margin: 10px;
}
.box {
  position: relative;
  right: -100px;
}
.boxDetails {
  display: flex;
  flex-flow: column wrap;
  background: rgba(26, 42, 56, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(26, 42, 56, 0.4);
  padding: 10px;
  width: 200px;
  border-radius: 10px;
}
a {
  align-self: flex-end;
}
h3 {
  margin: 10px;
}
.theButtons {
  display: flex;
  align-items: center;
  margin-left: -15px;
}
.addWL {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  background-color: #7e97b4;
}
